/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

.menu {
	color: $color__link;
	text-transform: uppercase;
	a:visited {
		color: $color__link-visited;
	}
	a:hover,
	a:focus,
	a:active {
		color: $color__link-hover;
	}
	a:focus {
		outline: thin dotted;
	}
	a:hover,
	a:active {
		outline: 0;
	}
}



.white-tent{
	width:25%;
	padding:0.5rem 0;		
	padding-bottom: 0;
	
}

.banner-wrap{
	z-index: 99;
	position: fixed;
	width:100%;
	border-bottom: 1px solid #e1e1e1;
	background-color: hsla(0,0%,100%,.85);
}


.site-branding {
	width: 1120px;
	display:flex;
	justify-content: space-between;
	margin:0 auto;	
}

// .header{
// 	position:fixed;
// }

/* Menus */

.nav-menu{
	display: flex;
	align-items: center;
}


.main-navigation {
	display:flex;
	.search-form{
		padding-left: 1rem;
	}
	ul {
		width: 300px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding-left: 0; // 	ul {
		// 		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		// 		float: left;
		// 		position: absolute;
		// 		top: $base__space-unit;
		// 		left: -999rem;
		// 		z-index: 99999;
		// 		ul {
		// 			left: -999rem;
		// 			top: 0;
		// 		}
		// 		li {
		// 			&:hover > ul,
		// 			&.focus > ul {
		// 				left: 100%;
		// 			}
		// 		}
		// 		a {
		// 			width: 200px;
		// 		}
		// 		// :hover > a,
		// 		// .focus > a {
		// 		// }
		// 		// a:hover,
		// 		// a.focus {
		// 		// }
		// 	}
		// 	li:hover > ul,
		// 	li.focus > ul {
		// 		left: auto;
		// 	}
	} // li {
	// float: right;
	// position: relative;
	// &:hover > a,
	// &.focus > a {
	// }
	// }
	a {
		// display: block;
		text-decoration: none;
	} // .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a {
	// }
}

/* Small menu. */

// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }
// .comment-navigation,
// .posts-navigation,
// .post-navigation {
// 	.site-main & {
// 		margin: 0 0 $base__space-unit;
// 		overflow: hidden;
// 	}
// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}
// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }