/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

///////////////////////////////////////////////////////
h1 {
  text-align: center;
  margin: 3.75rem;
}

.site-logo {
  img {
    width: 50%;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-type-blocks {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .product-type-block-wrapper {
    width: 245px;
    border: 1px solid #e1e1e1;
    border-top: 5px solid #e1e1e1;
    padding: 1rem;
    &:hover {
      border: 1px solid #d99054;
      border-top: 5px solid #d99054;
    }
  }
  img {
    width: 70px;
    display: flex;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
}

.btn {
  &:link {
    background-color: #248a83;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border: 1px solid;
    padding: .75rem 1.5rem;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background-color: #19625d;
    border: 0 solid;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.journal-blocks {
  @extend .product-type-blocks;
  .journal-wrapper {
    border: 1px solid #e1e1e1;
    width: 332px;
    padding: 0;
  }
  img {
    width: 100%;
    max-height: 220px;
    border-bottom: 5px solid #e1e1e1;
  }
  .entry-meta {
    font-size: 0.75rem;
    padding: 0.75rem;
    padding-bottom: 1.25rem;
    h1 {
      margin: 0;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #248a83;
      min-height: 80px;
    }
  }
}

.buttonReadMore {
  &:link {
    background-color: white;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    border: 1px solid;
    padding: .75rem 1.5rem;
  }
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    background-color: #248a83;
    border: 0 solid;
    text-decoration: none;
    color: white;
  }
  &:active {
    text-decoration: none;
  }
}

// archives page///////////////////////////////////
.page-title {
  margin: 0;
  margin-top: 3.75rem;
}

.product-type-blocks-archives {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .product-type-block-wrapper-archives {
    .btn2 {
      &:link {
        text-decoration: none;
      }
    }
  }
}

.thumbnail-wrapper {
  overflow: hidden;
  border-bottom: 5px solid #e1e1e1;
  height: 250px;
  img {
    // position: absolute;
    height: 250px;
    width: 100%;
  }
}

.products-wrapper {
  width: 1120px;
  border-top: 1px dashed #c8c8c8;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
  margin: 0 auto;
  margin-top: 3.75rem;
  .single-product-wrapper {
    border: 1px solid #e1e1e1;
  }
}

//////////////////////////////////////journals///////////////////////
.site-content {
  padding-top: 48px;
  .content-area {
    width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.widget-area {
  padding: 3.75rem;
  padding-right: 0;
  border-left: 1px solid #e1e1e1;
}

.journal-page-blocks {
  padding: 3.75rem;
  padding-left: 0; // position: relative;
  h1 {
    color: white;
    margin: 0;
    margin-top: 2.25rem;
    
  }
  img {
    // position:absolute;
    width: 100%;
  }
  article {
    margin-bottom: 3.75rem;
  }
}

.entry-header {
  position: relative;
}

.entry-title-index {
  background-color: #248a83;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 80%;
  padding: .75rem 1.5rem;
  margin-top: 2.25rem;
  a:link {
    // background-color: #248a83;
    font-size: 2.1rem;
    color: white;
    text-decoration: none; // padding:1rem;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
  }
}

.entry-meta-index {
  color: white;
  background-color: #248a83;
  position: absolute;
  right: 0;
  bottom: 7px;
}

.entry-content-index {
  margin-bottom: 2rem;
}