/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;
	h2 {
		margin-top: 0;
	}
	ul {
		padding: 0;
		li {
			list-style: none;
		}
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.secondary {
	color: white;
	width: 1120px;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	margin: 0 auto;
	img {
		float: right;
	}
}

.widget-title {
	color: #d99054;
	text-transform: uppercase;
	margin-top: 0;
}

.copyright-footer{
	color: white;
	display: flex;
	justify-content:center;
}

/* Search widget. */

.widget_search .search-submit {
	display: none;
}