/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;
	h2 {
		margin-top: 0;
	}
	ul {
		padding: 0;
		li {
			list-style: none;
			padding-bottom: 1rem;
		}
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.secondary {
	color: white;
	width: 1120px;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	margin: 0 auto;
	.footer-logo {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start; 
			img{
				width: 300px;
			}
	}
	.widget-title {
		color: #d99054;
		text-transform: uppercase;
		margin-top: 0;
	}
}

.copyright-footer {
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.icons {
	display: flex;
	li {
		padding-right: 0.5rem;
	}
}

/* Search widget. */

.widget_search .search-submit {
	display: none;
}